@import url('https://fonts.googleapis.com/css?family=Space+Mono');


body {
    margin-top: 51px;
    font-family: 'Space Mono', monospace;
}

#logo {
    color: white;
}

#profile_img {
    height: 300px;
    border-radius: 50%;
    text-align: center;
}

.showcase {
    background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.25), 
            rgba(0, 0, 0, 0.25)
        ),
        url('../img/showcase.jpg')
        ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    text-align: center;
}

.center-content {
    display:flex;
    justify-content:center;
    align-items:center;
}

.about {
    background: #222;
    color: white;
    min-height: 100vh;
    margin: auto;
}

.portfolio{
    height: 100vh;
}

.contact{
    height: 100vh;
    background-color: #00bfff;
}

.footer{
    height: 150px;
}
.link-logo {
    height: 50px;
}



/*Hide in Other Small Devices */


/* Landscape tablets and medium desktops */

@media (min-width: 1200){
    #profile_img {
        height: 300px;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {
    #profile_img {
        height: 300px;
    }

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	#profile_img {
        height: 300px;
    }

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	#profile_img {
        height: 150px;
    }
    
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	
    #profile_img {
        height: 150px;
        margin-bottom: 30px;
    }
    
    .link-logo{
        height:30px;
    }
}


